html {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eff6ff;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  margin: 0;
  font-size: 24px;
}
.phone {
  width: 350px;
  height: 240px;
  box-shadow: 0 0px 8px 1px #dddddd;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px;
  background-color: #fff;
}
.phone .input {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.phone .input label {
  display: block;
  margin-bottom: 6px;
  font-size: 18px;
}
.phone .input input {
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
  max-width: 100%;
  padding: 8px 4px;
}
.phone button {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px 0;
  background-color: #3586ff;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.phone .text {
  font-size: 15px;
}
.phone .error {
  font-size: 15px;
  color: rgb(255, 131, 69);
}
.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.btn p {
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  background-color: #4c4c4c;
  padding: 6px 12px;
  border-radius: 5px;
}
.btn button {
  font-size: 16px;
  color: #fff;
  width: unset;
  padding: 6px 12px;
}
